<h1>User</h1>

<p>
<strong>Name:</strong>
<%= @user.name %>
</p>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>

<p>
<strong>Role:</strong>
<%= @user.role %>
</p>

<%= link_to 'back', users_path(@user) %>